$themecolor: #30f;
$sidepadding: 20px;
$fontfamily: 'Nunito', sans-serif;

html, #root {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: $fontfamily;
    height: 100%;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;

    &:active {
        background: none;
    }
}

.icon_div {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &.last_at_right {
        .touch_indicator {
            margin-right: -10px;
        }
    }
}

.touch_indicator {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    background: #fff;
    align-items: center;
    transition: 200ms ease-in-out;
    border-radius: 50%;
    margin-left: -20px;

    &:active {
        background: rgba(0, 0, 0, .1);
    }

    // &:hover {
  
    //     background: rgba(0, 0, 0, .1);
    // }
  }

@mixin centerize() {
    display: flex;
    justify-content: center;
    align-items: center;
}