$themecolor: #30f;
$sidepadding: 20px;

body {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

* {
    box-sizing: border-box;
}

.touch_indicator {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    background: #fff;
    align-items: center;
    transition: 200ms ease-in-out;
    border-radius: 50%;
    margin-left: -20px;

    &:active {
        background: rgba(0, 0, 0, .1);
    }

    // &:hover {
  
    //     background: rgba(0, 0, 0, .1);
    // }
  }

@mixin centerize() {
    display: flex;
    justify-content: center;
    align-items: center;
}