.message_input {
    padding: $sidepadding;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 110px;

    .message_input_form {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 100%;
        padding: 15px;
        width: 100%;
        border-radius: 25px;
        background: darken(white, 2%);

        .input_box {
            height: 100%;
            margin: 0;
            border: 0;
            outline: none;
            background: inherit;
            padding: 0;
            font-size: 15px;

            &::placeholder {
                font-family: $fontfamily;
                
            }
        }

        .icon_div {
            height: 100%;
            width: 40px;
            font-size: 22px;
            color: $themecolor;

            &:nth-child(3) {
                margin-left: 5px;
                margin-right: 5px;
            }
        }
    }
}