.top_bar {
  display: flex;
  padding: 10px 20px;
  color: #30f;
  font-family: 'Nunito', sans-serif;
}

.top_bar .app_name_container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.app_name_container h2 {
  margin: 0;
}

.top_bar .icons {
  display: flex;
  
}

.icons .icon_div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
  width: 50px;
  height: 50px;
}

.icon_div:last-child {
 justify-content: flex-end; 
}

.touch_indicator {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  background: #fff;
  align-items: center;
  transition: 200ms ease-in-out;
  border-radius: 50%;
}

.touch_indicator:active {
/*   background: rgba(0, 0, 0, .1); */
  animation-name: showTap;
  animation-duration: 200ms;
}

.touch_indicator:hover {

  background: rgba(0, 0, 0, .1);
}

.menu_bar {
  width: 45%;
  height: 45%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  
}

.menu_bar .menu_line {
  height: 3px;
  width: 100%;
  background: #30f;
}

.menu_bar .menu_line:nth-child(2) {
  width: 50%; /*I have, and use comments. Please o i'm testing and u're stopping my tests* Have u seen it I've reduced it */
}

@keyframes showTap {
  from {
    background: #fff;
  }
  to {
      background: rgba(0, 0, 0, .1);
  }
}