.chat_box {
    width: 100%;
    height: 65px;
    // background: $themecolor;
    display: flex;
    align-items: center;
    padding: 5px 0;
    box-sizing: unset;

    &:active {
        background: rgba(0, 0, 0, .1);
    }

    .profile_picture_div {
        padding: 0 10px 0 $sidepadding;

        .img_cover {
           width: 55px;
           height: 55px;
           border-radius: 20px;
           position: relative;

           &.online::after {
               position: absolute;
               content: '';
               background: $themecolor;
               z-index: 2;
               width: 10px;
               bottom: 0px;
               right: -1px;
               height: 10px;
               border: 5px solid white;
               border-radius: 50%;
           }

           &>img.profile_img {
               width: 100%;
               height: 100%;
               border-radius: inherit;
           }
        }
    }

    .info {
        flex-grow: 1;

        .friend_name {
            margin: 2px 0;
        }
        .last_message {
            margin: 2px 0;
            font-size: 13px;
            color: rgba($color: $themecolor, $alpha: 0.9);
            
        }
    }

    .indicators {
        @include centerize();
        flex-direction: column;
        justify-content: space-evenly;
        // width: 50px;
        height: inherit;
        padding: 8px $sidepadding;

        .time_indicator {
            font-size: 12px;
            color: rgba(0, 0, 0, .5)
        }

        .unread_indicator {
            @include centerize();
            width: 20px;
            height: 20px;
            color: white;
            background: $themecolor;
            border-radius: 50%;
            font-size: 12px
        }
    }
}

.chat_boxes_cover {
    width: 100%;
    padding: 15px 0;
}