
.menu {
    @include centerize();
    z-index: 10; 
    width: 100%;
    height: 100%;
    position: fixed;
    right: -100%;
    top: 0;
    transition: 500ms right cubic-bezier(0.785, 0.135, 0.15, 0.86);

    &.open {
        right: 0;
    }

    & > div {
        height: 100%;

        &.closer {
            background: transparent;
            width: 15%
        }
        
        &.main {
            background: #fff;
            width: 85%;
            padding: 30px ($sidepadding + 10px);

            .top {
                @include centerize($justify: space-between);
                
                i {
                    color: $themecolor !important;
                    font-size: 18px;
                }

            }
        }
    }
}